.register-card {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  min-height: 100vh;
  text-align: center;

  h4 {
    margin-bottom: 20px;
  }

  .paper {
    padding: 20px;
    width: 100%;

    .inputFields {

      .input {

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    > p {
      margin-top: 20px;
    }

    .link {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    > button {
      margin-top: 20px;
    }
  }
}
